<h1>Home</h1>

<form id="createProductForm">
  <input type="text" id="product" />
  <button type="submit">Create Product</button>
</form>

<div>
  <h2>Products</h2>
  <ul id="productsList">

  </ul>
</div>

<script src="/js/home.js"></script>