<h1>Real Time Products</h1>

<form id="createProductForm">
  <input type="text" id="product" />
  <button type="submit">Create Product</button>
</form>

<div>
  <h2>Products</h2>
  <ul id="productsList">

  </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTime.js"></script>